@model Practica20250411.AppMVCCore.Models.Bodega

@{
    ViewData["Title"] = "Eliminar Bodega";
}

<h1 class="text-light">Eliminar</h1>

<h3 class="text-light">Esta seguro de eliminar este registro?</h3>
<div>
    <h4 class="text-light">Bodega</h4>
    <hr />
    <dl class="row">
        <dt class = "col text-light">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Notas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-success">Cancelar</a>
    </form>
</div>
