@model Practica20250411.AppMVCCore.Models.Bodega

@{
    ViewData["Title"] = "Detalle de Bodega";
}

<h1>Detalle</h1>

<div>
    <h4>Bodega</h4>
    <hr />
    <dl class="row">
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </div>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
    </dl>
</div>
<div>
    <div class="row mt-3">
        <div class="form-group">
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Editar</a>
    <a asp-action="Index" class="btn btn-success">Regresar</a>
        </div>
    </div>
</div>
