@model Practica20250411.AppMVCCore.Models.Bodega

@{
    ViewData["Title"] = "Editar Bodega";
}

<h1>Editar</h1>

<h4 class="text-light">Bodega</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="text-light">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="row mt-3">
            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-success">Regresar</a>
            </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
